@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 80px 0;
  background-color: #23252C;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 400px;
  margin: auto;
  background-color: #23252C;
}

header {
  height: 300px;
  background-color: #23252C;
  background-image: url('./images/luna.jpg');
  background-position: center 20%;
  background-size: 400px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

main {
  padding: 0 50px 30px;
  background-color: #F5F5F5;
}

.main--heading {
  text-align: center;
}

.main--name {
  font-size: 25px;
  color: #2B283A;
  line-height: 30px;
}

.main--title {
  font-size: 16px;
  font-weight: 400;
  color: #F47D27;
  line-height: 15px;
  padding-bottom: 10px;
}

.main--contact {
  display: flex;
  justify-content: space-between;
}

.main--button {
  width: 140px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.main--button_text {
  padding-left: 8px;
  font-size: 16px;

}

.main--button_email {
  background-color: white;
}

.main--button_li {
  background-color: #297FE5;
}

.main--button_text_li {
  color: white;
}

.main--linkedin_icon {
  color: white;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: lightgray;
  color: #918E9B;
  border-radius: 0 0 10px 10px;
}

.footer--icon {
  height: 30px;
  width:30px;
  padding-right: 20px;
}

h1 {
  margin: 0;
  padding-top: 20px
}